In [3]:
import numpy as np
import seaborn as sns
import pandas as pd
import pydataset as data
import matplotlib as plt

from env import get_db_url

# Data Acquisition Exercises

## 1- 3 : Creating Repository, modifying and including .gitignore.

## 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [10]:
# Importing Iris dataset and creating a DataFrame:

sns.load_dataset('iris')

df_iris = pd.DataFrame(sns.load_dataset('iris'))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

### a. print the first 3 rows

In [11]:
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

### b. print the number of rows and columns (shape)

In [13]:
df_iris.shape

#150 Rows, 5 Columns

(150, 5)

### c. Print the column names

In [15]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

### d. print the data type of each column

In [22]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### e. print the summary statistics for each of the numeric variables

In [28]:
df_iris.sepal_length.describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [30]:
df_iris.sepal_width.describe()

count    150.000000
mean       3.057333
std        0.435866
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: sepal_width, dtype: float64

In [31]:
df_iris.petal_length.describe()

count    150.000000
mean       3.758000
std        1.765298
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal_length, dtype: float64

In [32]:
df_iris.petal_width.describe()

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal_width, dtype: float64

## 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [92]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1adWbq9gXVUsjV5NuAfOM7yFpU5AbRoNC4uKPm5r-xJI/edit#gid=1825007169'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_googlesheet = pd.read_csv(csv_export_url)
df_googlesheet.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,average_charges,average_charge_true,phone_service_type,service_type,rounded_tenure
0,5893-KCLGT,Female,0,No,Yes,1,0,2,Mailed check,19.75,...,False,True,False,False,2,19.8,True,One Line,Phone,79
1,7083-MIOPC,Female,0,No,No,1,0,2,Credit card (automatic),20.25,...,False,True,False,False,0,20.3,True,One Line,Phone,77
2,8207-VVMYB,Female,0,Yes,No,2,0,2,Bank transfer (automatic),26.00,...,False,True,False,False,1,26.0,True,Two or More Lines,Phone,77
3,6010-DDPPW,Male,0,Yes,No,2,0,2,Bank transfer (automatic),25.15,...,False,True,False,False,1,25.2,True,Two or More Lines,Phone,77
4,3910-MRQOY,Female,0,Yes,No,1,0,2,Bank transfer (automatic),19.40,...,False,True,False,False,1,19.4,True,One Line,Phone,77

### a. Assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [49]:
df_google_sheets_sample = df_googlesheet.head(100)
#df_google_sheets_sample

### b. print the number of rows of your original dataframe

In [51]:
df_googlesheet.shape[0]

7038

### c. Print the first 5 column names

In [54]:
df_googlesheet.columns[0:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

### d. Print the column names that have a data type of object

In [55]:
df_googlesheet.select_dtypes(include = 'object')

,customer_id,gender,partner,dependents,payment_type,churn,phone_service_type,service_type
0,5893-KCLGT,Female,No,Yes,Mailed check,No,One Line,Phone
1,7083-MIOPC,Female,No,No,Credit card (automatic),No,One Line,Phone
2,8207-VVMYB,Female,Yes,No,Bank transfer (automatic),No,Two or More Lines,Phone
3,6010-DDPPW,Male,Yes,No,Bank transfer (automatic),No,Two or More Lines,Phone
4,3910-MRQOY,Female,Yes,No,Bank transfer (automatic),No,One Line,Phone
...,...,...,...,...,...,...,...,...
7033,1423-BMPBQ,Female,Yes,Yes,Mailed check,No,One Line,Phone
7034,9975-SKRNR,Male,No,No,Mailed check,No,One Line,Phone
7035,8992-CEUEN,Female,No,No,Electronic check,No,One Line,Phone
7036,9318-NKNFC,Male,No,No,Mailed check,Yes,One Line,Phone
7037,2967-MXRAV,Male,Yes,Yes,Mailed check,No,One Line,Phone

### e. Compute the range for each of the numeric variables.

In [58]:
df_googlesheet.select_dtypes(include = 'number')

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,average_charges,rounded_tenure
0,0,1,0,2,19.75,1567.00,79.3,2,19.8,79
1,0,1,0,2,20.25,1566.90,77.4,0,20.3,77
2,0,2,0,2,26.00,2006.95,77.2,1,26.0,77
3,0,2,0,2,25.15,1940.85,77.2,1,25.2,77
4,0,1,0,2,19.40,1496.45,77.1,1,19.4,77
...,...,...,...,...,...,...,...,...,...,...
7033,0,1,0,0,19.00,19.00,1.0,3,19.0,1
7034,0,1,0,0,18.90,18.90,1.0,0,18.9,1
7035,0,1,0,0,18.85,18.85,1.0,0,18.9,1
7036,0,1,0,0,18.85,18.85,1.0,0,18.9,1
7037,0,1,0,1,18.80,18.80,1.0,3,18.8,1

In [64]:
# Monthly Charges:
df_googlesheet.monthly_charges.max() - df_googlesheet.monthly_charges.min()

100.5

In [65]:
# Total Charges:
df_googlesheet.total_charges.max() - df_googlesheet.total_charges.min()

8666.0

In [66]:
# Tenure:
df_googlesheet.tenure.max() - df_googlesheet.tenure.min()

78.3

In [70]:
# Average Charges (total charges over tenure):
df_googlesheet.average_charges.max() - df_googlesheet.average_charges.min()

100.5

## 6. Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [74]:
df_excel = pd.read_excel('spreadsheet_exercises_workbook', sheet_name = 'Table1_CustDetails_COPY')

### a. Assign the first 100 rows to a new dataframe, df_excel_sample:

In [77]:
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,average_charges,average_charge_true,phone_service_type,service_type,rounded_tenure
0,5893-KCLGT,Female,0.0,No,Yes,1.0,0.0,2.0,Mailed check,19.75,...,False,True,False,False,2,19.75,True,One Line,Phone,79.0
1,7083-MIOPC,Female,0.0,No,No,1.0,0.0,2.0,Credit card (automatic),20.25,...,False,True,False,False,0,20.25,True,One Line,Phone,77.0
2,8207-VVMYB,Female,0.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),26.00,...,False,True,False,False,1,26.00,True,Two or More Lines,Phone,77.0
3,6010-DDPPW,Male,0.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),25.15,...,False,True,False,False,1,25.15,True,Two or More Lines,Phone,77.0
4,3910-MRQOY,Female,0.0,Yes,No,1.0,0.0,2.0,Bank transfer (automatic),19.40,...,False,True,False,False,1,19.40,True,One Line,Phone,77.0
5,0784-ZQJZX,Male,0.0,No,Yes,1.0,0.0,2.0,Credit card (automatic),19.90,...,False,True,False,False,2,19.90,True,One Line,Phone,76.0
6,3836-FZSDJ,Male,1.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),24.85,...,False,True,False,False,1,24.85,True,Two or More Lines,Phone,76.0
7,4625-XMOYM,Female,0.0,Yes,Yes,2.0,0.0,2.0,Bank transfer (automatic),26.25,...,False,True,False,False,3,26.25,True,Two or More Lines,Phone,75.0
8,8749-TZYEC,Male,0.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),24.80,...,False,True,False,False,1,24.80,True,Two or More Lines,Phone,75.0
9,2452-MRMZF,Female,1.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),25.70,...,False,True,False,False,1,25.70,True,Two or More Lines,Phone,75.0
10,6348-SNFUS,Male,0.0,Yes,Yes,0.0,1.0,2.0,Credit card (automatic),55.45,...,False,False,True,False,3,55.45,True,No Phone Service,Internet,75.0
11,8237-ULIXL,Female,0.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),24.85,...,False,True,False,False,1,24.85,True,Two or More Lines,Phone,75.0
12,6181-AXXYF,Male,0.0,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),24.75,...,False,True,False,False,3,24.75,True,Two or More Lines,Phone,75.0
13,6115-ZTBFQ,Female,0.0,Yes,No,0.0,1.0,2.0,Bank transfer (automatic),65.50,...,False,False,True,False,1,65.50,True,No Phone Service,Internet,75.0
14,3308-DGHKL,Male,0.0,No,No,1.0,0.0,2.0,Bank transfer (automatic),19.30,...,False,True,False,False,0,19.30,True,One Line,Phone,75.0
15,0742-LAFQK,Male,0.0,Yes,No,2.0,2.0,2.0,Electronic check,99.15,...,False,True,True,True,1,99.15,True,Two or More Lines,Internet and Phone,74.0
16,1166-PQLGG,Female,0.0,Yes,Yes,1.0,0.0,2.0,Bank transfer (automatic),19.55,...,False,True,False,False,3,19.55,True,One Line,Phone,74.0
17,1987-AUELQ,Female,0.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),25.05,...,False,True,False,False,1,25.05,True,Two or More Lines,Phone,74.0
18,2900-PHPLN,Female,1.0,Yes,No,1.0,0.0,2.0,Credit card (automatic),19.55,...,False,True,False,False,1,19.55,True,One Line,Phone,74.0
19,7980-MHFLQ,Female,0.0,Yes,Yes,2.0,0.0,2.0,Mailed check,24.90,...,False,True,False,False,3,24.90,True,Two or More Lines,Phone,74.0
20,7722-VJRQD,Male,0.0,Yes,Yes,0.0,1.0,2.0,Bank transfer (automatic),60.95,...,False,False,True,False,3,60.95,True,No Phone Service,Internet,74.0
21,7503-MIOGA,Female,1.0,Yes,No,2.0,1.0,2.0,Bank transfer (automatic),89.85,...,False,True,True,True,1,89.85,True,Two or More Lines,Internet and Phone,74.0
22,0536-ACXIP,Female,0.0,Yes,No,2.0,2.0,2.0,Electronic check,109.55,...,False,True,True,True,1,109.55,True,Two or More Lines,Internet and Phone,74.0
23,5248-RPYWW,Female,1.0,Yes,Yes,2.0,1.0,2.0,Bank transfer (automatic),90.15,...,False,True,True,True,3,90.15,True,Two or More Lines,Internet and Phone,74.0
24,9351-HXDMR,Male,0.0,Yes,No,2.0,2.0,2.0,Credit card (automatic),110.90,...,False,True,True,True,1,110.90,True,Two or More Lines,Internet and Phone,74.0
25,5743-KHMNA,Male,0.0,No,No,2.0,0.0,2.0,Bank transfer (automatic),25.55,...,False,True,False,False,0,25.55,True,Two or More Lines,Phone,74.0
26,2274-XUATA,Male,1.0,Yes,No,0.0,1.0,2.0,Bank transfer (automatic),63.10,...,False,False,True,False,1,63.10,True,No Phone Service,Internet,74.0
27,4376-KFVRS,Male,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),114.05,...,False,True,True,True,3,114.05,True,Two or More Lines,Internet and Phone,74.0
28,7115-IRDHS,Female,0.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),24.65,...,False,True,False,False,1,24.65,True,Two or More Lines,Phone,74.0
29,3886-CERTZ,Female,0.0,Yes,No,2.0,2.0,1.0,Electronic check,109.25,...,False,True,True,True,1,109.25,True,Two or More Lines,Internet and Phone,74.0
30,4443-EMBNA,Female,0.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),24.75,...,True,True,False,False,1,24.75,True,Two or More Lines,Phone,74.0
31,9499-XPZXM,Female,0.0,Yes,No,2.0,1.0,2.0,Bank transfer (automatic),64.75,...,False,True,True,True,1,64.75,True,Two or More Lines,Internet and Phone,74.0
32,7606-BPHHN,Male,0.0,No,No,1.0,0.0,2.0,Credit card (automatic),19.80,...,False,True,False,False,0,19.80,True,One Line,Phone,74.0
33,0078-XZMHT,Male,0.0,Yes,No,2.0,1.0,2.0,Bank transfer (automatic),85.15,...,False,True,True,True,1,85.15,True,Two or More Lines,Internet and Phone,74.0
34,9668-PUGNU,Male,0.0,Yes,No,2.0,0.0,2.0,Electronic check,24.50,...,False,True,False,False,1,24.50,True,Two or More Lines,Phone,74.0
35,9769-TSBZE,Female,0.0,No,Yes,2.0,1.0,2.0,Electronic check,66.00,...,False,True,True,True,2,66.00,True,Two or More Lines,Internet and Phone,74.0
36,9680-NIAUV,Female,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),109.70,...,False,True,True,True,3,109.70,True,Two or More Lines,Internet and Phone,74.0
37,3118-UHVVQ,Female,0.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),25.80,...,False,True,False,False,1,25.80,True,Two or More Lines,Phone,74.0
38,5879-HMFFH,Female,0.0,Yes,No,2.0,1.0,2.0,Bank transfer (automatic),88.05,...,False,True,True,True,1,88.05,True,Two or More Lines,Internet and Phone,74.0
39,5884-FBCTL,Female,0.0,Yes,Yes,2.0,0.0,2.0,Bank transfer (automatic),25.10,...,False,True,False,False,3,25.10,True,Two or More Lines,Phone,74.0
40,3865-YIOTT,Male,0.0,Yes,Yes,2.0,2.0,1.0,Bank transfer (automatic),106.10,...,False,True,True,True,3,106.10,True,Two or More Lines,Internet and Phone,73.0
41,4836-WNFNO,Female,0.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),25.00,...,False,True,False,False,1,25.00,True,Two or More Lines,Phone,73.0
42,0164-APGRB,Female,0.0,No,No,2.0,2.0,2.0,Electronic check,114.90,...,False,True,True,True,0,114.90,True,Two or More Lines,Internet and Phone,73.0
43,9848-JQJTX,Male,0.0,No,No,2.0,2.0,2.0,Bank transfer (automatic),100.90,...,False,True,True,True,0,100.90,True,Two or More Lines,Internet and Phone,73.0
44,5324-KTGCG,Male,0.0,Yes,No,1.0,0.0,1.0,Electronic check,20.85,...,False,True,False,False,1,20.85,True,One Line,Phone,73.0
45,0917-EZOLA,Male,1.0,Yes,No,2.0,2.0,2.0,Bank transfer (automatic),104.15,...,False,True,True,True,1,104.15,True,Two or More Lines,Internet and Phone,73.0
46,4077-HWUYD,Male,0.0,Yes,Yes,2.0,1.0,2.0,Bank transfer (automatic),87.55,...,True,True,True,True,3,87.55,True,Two or More Lines,Internet and Phone,73.0
47,9739-JLPQJ,Female,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),117.50,...,False,True,True,True,3,117.50,True,Two or More Lines,Internet and Phone,73.0
48,5168-MQQCA,Female,0.0,Yes,No,2.0,2.0,1.0,Bank transfer (automatic),108.50,...,False,True,True,True,1,108.50,True,Two or More Lines,Internet and Phone,73.0
49,0795-LAFGP,Male,0.0,Yes,Yes,2.0,1.0,2.0,Electronic check,90.40,...,False,True,True,True,3,90.40,True,Two or More Lines,Internet and Phone,73.0
50,2169-RRLFW,Female,0.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),25.60,...,False,True,False,False,1,25.60,True,Two or More Lines,Phone,73.0
51,6161-ERDGD,Male,0.0,Yes,Yes,2.0,1.0,1.0,Electronic check,85.45,...,False,True,True,True,3,85.45,True,Two or More Lines,Internet and Phone,73.0
52,2889-FPWRM,Male,0.0,Yes,No,2.0,2.0,1.0,Bank transfer (automatic),117.80,...,False,True,True,True,1,117.80,True,Two or More Lines,Internet and Phone,73.0
53,9778-OGKQZ,Male,0.0,Yes,No,2.0,1.0,2.0,Credit card (automatic),92.00,...,True,True,True,True,1,92.00,True,Two or More Lines,Internet and Phone,73.0
54,2984-TBYKU,Male,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),104.90,...,False,True,True,True,3,104.90,True,Two or More Lines,Internet and Phone,73.0
55,8879-XUAHX,Male,0.0,Yes,No,2.0,2.0,2.0,Electronic check,116.25,...,False,True,True,True,1,116.25,True,Two or More Lines,Internet and Phone,73.0
56,6749-UTDVX,Male,0.0,No,No,2.0,2.0,2.0,Electronic check,103.65,...,False,True,True,True,0,103.65,True,Two or More Lines,Internet and Phone,73.0
57,8200-LGKSR,Male,0.0,Yes,No,2.0,1.0,2.0,Electronic check,83.20,...,False,True,True,True,1,83.20,True,Two or More Lines,Internet and Phone,73.0
58,0480-KYJVA,Female,0.0,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),24.25,...,False,True,False,False,3,24.25,True,Two or More Lines,Phone,73.0
59,9866-OCCKE,Female,1.0,Yes,No,2.0,2.0,2.0,Mailed check,109.75,...,False,True,True,True,1,109.75,True,Two or More Lines,Internet and Phone,73.0
60,4231-LZUYM,Female,0.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),25.65,...,False,True,False,False,1,25.65,True,Two or More Lines,Phone,73.0
61,0626-QXNGV,Female,0.0,Yes,No,2.0,0.0,2.0,Credit card (automatic),24.15,...,False,True,False,False,1,24.15,True,Two or More Lines,Phone,73.0
62,2878-RMWXY,Male,1.0,Yes,No,2.0,2.0,2.0,Credit card (automatic),102.65,...,False,True,True,True,1,102.65,True,Two or More Lines,Internet and Phone,73.0
63,3274-NSDWE,Female,0.0,No,No,1.0,0.0,2.0,Credit card (automatic),19.60,...,False,True,False,False,0,19.60,True,One Line,Phone,73.0
64,8915-NNTRC,Male,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),107.70,...,False,True,True,True,3,107.70,True,Two or More Lines,Internet and Phone,73.0
65,9489-JMTTN,Female,0.0,Yes,Yes,2.0,1.0,2.0,Credit card (automatic),89.75,...,False,True,True,True,3,89.75,True,Two or More Lines,Internet and Phone,73.0
66,9788-HNGUT,Male,0.0,Yes,No,2.0,2.0,2.0,Credit card (automatic),116.95,...,False,True,True,True,1,116.95,True,Two or More Lines,Internet and Phone,73.0
67,6253-GNHWH,Female,0.0,Yes,Yes,2.0,1.0,2.0,Mailed check,71.10,...,False,True,True,True,3,71.10,True,Two or More Lines,Internet and Phone,73.0
68,0739-UUAJR,Female,0.0,Yes,Yes,0.0,1.0,2.0,Credit card (automatic),53.80,...,False,False,True,False,3,53.80,True,No Phone Service,Internet,73.0
69,5968-XQIVE,Male,0.0,Yes,Yes,2.0,2.0,1.0,Electronic check,89.70,...,False,True,True,True,3,89.70,True,Two or More Lines,Internet and Phone,73.0
70,2167-FQSTQ,Female,0.0,Yes,No,2.0,1.0,2.0,Electronic check,92.40,...,False,True,True,True,1,92.40,True,Two or More Lines,Internet and Phone,73.0
71,0301-FIDRB,Female,0.0,Yes,Yes,0.0,1.0,2.0,Bank transfer (automatic),63.80,...,False,False,True,False,3,63.80,True,No Phone Service,Internet,73.0
72,0675-NCDYU,Female,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),116.40,...,False,True,True,True,3,116.40,True,Two or More Lines,Internet and Phone,73.0
73,7781-HVGMK,Female,0.0,Yes,Yes,0.0,1.0,2.0,Credit card (automatic),65.20,...,False,False,True,False,3,65.20,True,No Phone Service,Internet,73.0
74,6963-KQYQB,Female,0.0,Yes,Yes,2.0,0.0,2.0,Mailed check,24.05,...,False,True,False,False,3,24.05,True,Two or More Lines,Phone,73.0
75,6166-YIPFO,Male,0.0,Yes,No,0.0,1.0,2.0,Electronic check,64.70,...,False,False,True,False,1,64.70,True,No Phone Service,Internet,73.0
76,3339-EAQNV,Male,1.0,Yes,No,2.0,2.0,1.0,Credit card (automatic),97.25,...,False,True,True,True,1,97.25,True,Two or More Lines,Internet and Phone,73.0
77,4079-WWQQQ,Male,0.0,No,No,0.0,1.0,2.0,Bank transfer (automatic),65.55,...,False,False,True,False,0,65.55,True,No Phone Service,Internet,73.0
78,5598-IKHQQ,Female,0.0,No,No,2.0,0.0,2.0,Credit card (automatic),25.45,...,False,True,False,False,0,25.45,True,Two or More Lines,Phone,73.0
79,7301-ABVAD,Female,0.0,No,No,2.0,1.0,2.0,Bank transfer (automatic),86.60,...,False,True,True,True,0,86.60,True,Two or More Lines,Internet and Phone,73.0
80,1679-JRFBR,Female,0.0,Yes,Yes,2.0,2.0,1.0,Credit card (automatic),108.15,...,False,True,True,True,3,108.15,True,Two or More Lines,Internet and Phone,73.0
81,1131-QQZEB,Male,1.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),23.95,...,False,True,False,False,1,23.95,True,Two or More Lines,Phone,73.0
82,8374-UULRV,Male,0.0,No,No,2.0,1.0,2.0,Credit card (automatic),86.05,...,False,True,True,True,0,86.05,True,Two or More Lines,Internet and Phone,73.0
83,3913-FCUUW,Female,0.0,Yes,Yes,2.0,1.0,2.0,Bank transfer (automatic),70.45,...,False,True,True,True,3,70.45,True,Two or More Lines,Internet and Phone,73.0
84,9297-EONCV,Female,0.0,No,No,2.0,1.0,2.0,Bank transfer (automatic),91.35,...,False,True,True,True,0,91.35,True,Two or More Lines,Internet and Phone,73.0
85,3976-HXHCE,Male,0.0,No,No,1.0,0.0,2.0,Bank transfer (automatic),19.30,...,False,True,False,False,0,19.30,True,One Line,Phone,73.0
86,7711-GQBZC,Female,0.0,Yes,Yes,2.0,0.0,2.0,Bank transfer (automatic),24.70,...,False,True,False,False,3,24.70,True,Two or More Lines,Phone,73.0
87,0665-XHDJU,Male,0.0,Yes,No,2.0,2.0,2.0,Electronic check,99.40,...,False,True,True,True,1,99.40,True,Two or More Lines,Internet and Phone,73.0
88,2925-VDZHY,Male,0.0,Yes,Yes,2.0,1.0,2.0,Credit card (automatic),88.70,...,False,True,True,True,3,88.70,True,Two or More Lines,Internet and Phone,73.0
89,2190-PHBHR,Female,0.0,Yes,No,2.0,2.0,2.0,Credit card (automatic),94.45,...,False,True,True,True,1,94.45,True,Two or More Lines,Internet and Phone,73.0
90,1927-QEWMY,Female,0.0,Yes,No,1.0,0.0,2.0,Credit card (automatic),20.50,...,False,True,False,False,1,20.50,True,One Line,Phone,73.0
91,6719-FGEDO,Female,0.0,Yes,No,2.0,2.0,2.0,Bank transfer (automatic),97.00,...,False,True,True,True,1,97.00,True,Two or More Lines,Internet and Phone,73.0
92,7860-KSUGX,Male,0.0,Yes,Yes,2.0,1.0,2.0,Credit card (automatic),64.45,...,False,True,True,True,3,64.45,True,Two or More Lines,Internet and Phone,73.0
93,8229-BUJHX,Female,0.0,Yes,Yes,1.0,0.0,2.0,Bank transfer (automatic),20.50,...,False,True,False,False,3,20.50,True,One Line,Phone,73.0
94,6734-PSBAW,Male,0.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),23.55,...,False,True,False,False,1,23.55,True,Two or More Lines,Phone,73.0
95,6007-TCTST,Female,0.0,Yes,Yes,2.0,2.0,2.0,Bank transfer (automatic),115.80,...,False,True,True,True,3,115.80,True,Two or More Lines,Internet and Phone,73.0
96,8735-SDUFN,Female,1.0,Yes,No,2.0,0.0,2.0,Bank transfer (automatic),24.30,...,False,True,False,False,1,24.30,True,Two or More Lines,Phone,73.0
97,7359-WWYJV,Male,0.0,Yes,No,2.0,2.0,2.0,Credit card (automatic),114.45,...,False,True,True,True,1,114.45,True,Two or More Lines,Internet and Phone,73.0
98,1027-LKKQQ,Female,0.0,Yes,Yes,1.0,1.0,2.0,Bank transfer (automatic),80.45,...,False,True,True,True,3,80.45,True,One Line,Internet and Phone,73.0
99,5494-WOZRZ,Female,0.0,Yes,Yes,1.0,1.0,2.0,Credit card (automatic),82.00,...,False,True,True,True,3,82.00,True,One Line,Internet and Phone,73.0

### b. Print the number of rows of your original dataframe

In [78]:
df_excel.shape[0]

7038

### c. Print the first 5 column names

In [79]:
df_excel.columns[0:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

### d. Print the column names that have a data type of object

In [80]:
df_excel.select_dtypes(include = 'object')

,customer_id,gender,partner,dependents,payment_type,churn,phone_service_type,service_type
0,5893-KCLGT,Female,No,Yes,Mailed check,No,One Line,Phone
1,7083-MIOPC,Female,No,No,Credit card (automatic),No,One Line,Phone
2,8207-VVMYB,Female,Yes,No,Bank transfer (automatic),No,Two or More Lines,Phone
3,6010-DDPPW,Male,Yes,No,Bank transfer (automatic),No,Two or More Lines,Phone
4,3910-MRQOY,Female,Yes,No,Bank transfer (automatic),No,One Line,Phone
...,...,...,...,...,...,...,...,...
7033,1423-BMPBQ,Female,Yes,Yes,Mailed check,No,One Line,Phone
7034,9975-SKRNR,Male,No,No,Mailed check,No,One Line,Phone
7035,8992-CEUEN,Female,No,No,Electronic check,No,One Line,Phone
7036,9318-NKNFC,Male,No,No,Mailed check,Yes,One Line,Phone
7037,2967-MXRAV,Male,Yes,Yes,Mailed check,No,One Line,Phone

### e. Compute the range for each of the numeric variables.

In [81]:
df_excel.select_dtypes(include = 'number')

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,average_charges,rounded_tenure
0,0.0,1.0,0.0,2.0,19.75,1567.00,79.341772,2,19.75,79.0
1,0.0,1.0,0.0,2.0,20.25,1566.90,77.377778,0,20.25,77.0
2,0.0,2.0,0.0,2.0,26.00,2006.95,77.190385,1,26.00,77.0
3,0.0,2.0,0.0,2.0,25.15,1940.85,77.170974,1,25.15,77.0
4,0.0,1.0,0.0,2.0,19.40,1496.45,77.136598,1,19.40,77.0
...,...,...,...,...,...,...,...,...,...,...
7033,0.0,1.0,0.0,0.0,19.00,19.00,1.000000,3,19.00,1.0
7034,0.0,1.0,0.0,0.0,18.90,18.90,1.000000,0,18.90,1.0
7035,0.0,1.0,0.0,0.0,18.85,18.85,1.000000,0,18.85,1.0
7036,0.0,1.0,0.0,0.0,18.85,18.85,1.000000,0,18.85,1.0
7037,0.0,1.0,0.0,1.0,18.80,18.80,1.000000,3,18.80,1.0

In [83]:
#Monthly Charges
df_excel.monthly_charges.max() - df_excel.monthly_charges.min()

100.5

In [84]:
# Total Charges:
df_excel.total_charges.max() - df_excel.total_charges.min()

8666.0

In [85]:
# Tenure:
df_excel.tenure.max() - df_excel.tenure.min()

78.34177215

In [86]:
# Average Charges (total charges over tenure):
df_excel.average_charges.max() - df_excel.average_charges.min()

100.5

## 7. Read the data from [this Google Sheet](https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357) into a dataframe, df_google.

In [90]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

### a. Print the first 3 rows:

In [91]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### b. Print the number of rows and columns

In [93]:
df_google.shape

(891, 12)

### c. Print the column names:

In [95]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### d. Print the data type of each column

In [96]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### e. Print the summary statistics for each of the numeric variables

In [100]:
# Age:
df_google.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [101]:
# SibSp (number of siblings or spouses on board):
df_google.SibSp.describe()

count    891.000000
mean       0.523008
std        1.102743
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        8.000000
Name: SibSp, dtype: float64

In [102]:
# Parch (number of parents/children on board):
df_google.Parch.describe()

count    891.000000
mean       0.381594
std        0.806057
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        6.000000
Name: Parch, dtype: float64

In [103]:
# Fare:
df_google.Fare.describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

### f. Print the unique values for each of your categorical variables:

In [107]:
# Survived:
df_google.Survived.unique()

array([0, 1])

In [108]:
# Pclass:
df_google.Pclass.unique()

array([3, 1, 2])

In [110]:
# Sex:
df_google.Sex.unique()

array(['male', 'female'], dtype=object)

In [120]:
# Embarked (Whether the passenger embarked in Southampton, Cherbourg, or Queenstown - there are 2 nulls):
df_google.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)