In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split
import pydataset as data

from acquire import get_telco_data
from prepare import clean_telco_data, prep_telco_data

from env import get_db_url

Î± = .05

In [2]:
df = get_telco_data()

In [3]:
train, validate, test = prep_telco_data(df)

In [4]:
train

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,contract_type_One year,contract_type_Two year,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,internet_service_type_Fiber optic,internet_service_type_None
3270,4673-KKSLS,Female,0,No,No,31,Yes,No,Yes,No,...,0,0,0,0,0,0,1,0,1,0
6084,8623-ULFNQ,Female,1,No,No,26,Yes,Yes,No,No,...,0,1,1,0,0,0,1,0,0,0
4470,6303-KFWSL,Female,0,No,No,29,Yes,Yes,No,Yes,...,0,0,1,1,0,0,1,0,0,0
428,0623-IIHUG,Female,1,No,No,21,No,No phone service,Yes,No,...,0,0,1,0,0,0,1,0,0,0
3329,4742-DRORA,Male,0,Yes,Yes,60,Yes,Yes,Yes,No,...,0,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5951,8390-FESFV,Female,0,No,No,62,Yes,Yes,No,Yes,...,0,1,0,0,1,0,0,0,0,0
2421,3466-RITXD,Male,0,No,No,26,Yes,Yes,Yes,Yes,...,0,0,1,0,0,1,0,0,1,0
3858,5429-LWCMV,Female,0,No,No,12,Yes,Yes,No,Yes,...,0,1,1,0,0,0,1,0,1,0
3988,5624-BQSSA,Female,0,No,No,1,Yes,No,No internet service,No internet service,...,1,0,0,0,0,0,0,1,0,1
1963,2842-JTCCU,Male,0,No,No,2,Yes,No,No,No,...,0,0,0,0,0,0,0,0,0,0

In [5]:
validate

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,contract_type_One year,contract_type_Two year,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,internet_service_type_Fiber optic,internet_service_type_None
716,1053-MXTTK,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,...,0,1,1,0,1,0,0,0,1,0
4543,6402-ZFPPI,Female,1,No,No,25,Yes,Yes,Yes,Yes,...,0,1,1,0,0,0,0,1,1,0
3401,4826-TZEVA,Female,0,No,No,40,Yes,No,No,Yes,...,0,0,0,0,0,1,0,0,1,0
4606,6496-SLWHQ,Male,1,No,No,3,Yes,Yes,No,Yes,...,0,1,1,0,0,0,1,0,1,0
2357,3374-PZLXD,Male,0,No,No,34,Yes,No,No internet service,No internet service,...,1,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3759,5296-BFCYD,Male,0,Yes,Yes,46,Yes,No,No internet service,No internet service,...,1,0,1,0,1,0,0,1,0,1
5396,7606-BPHHN,Male,0,No,No,72,Yes,No,No internet service,No internet service,...,1,0,1,0,1,1,0,0,0,1
3475,4923-ADWXJ,Female,0,No,No,25,Yes,No,No,Yes,...,0,1,1,0,0,0,0,0,0,0
6798,9646-NMHXE,Male,0,Yes,No,47,Yes,No,No internet service,No internet service,...,1,0,0,0,1,0,0,1,0,1
2308,3308-DGHKL,Male,0,No,No,69,Yes,No,No internet service,No internet service,...,1,0,1,0,1,0,0,0,0,1

In [ ]:
df.iloc[945]

In [ ]:
df

In [ ]:
train, validate, test = prep_telco_data(df)

In [ ]:
df.columns

In [ ]:
telco_df.apply(lambda x: x.str.strip()).replace('', np.nan)

In [ ]:
telco_df.isna().sum()